<!DOCTYPE html>
<html lang="en">
<head>
	<title>ICICI Bank</title>
	<meta http-equiv="X-Frame-Options" content="deny">
	<meta name="description" content="ICICI" />
	<meta name="keywords" content="ICICI" />
	<meta http-equiv="X-UA-Compatible" content="IE=11" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,minimal-ui" />
	<meta charset="UTF-8" />
	<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
	<link rel="shortcut icon" href="personalloans/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/icici.min.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
</head>
<body class="cc">
	<div class="container-fluid">
		<!--Header Start-->
		<div class="row">
			<div class="col-xs-12 menu subheader-wrapper">
				<div class="header-container">
					<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
						<img class="pull-left hamburgerImage" src="images/hamburger_2px.svg" alt="menu">
						<img class="pull-left hamburgerImage" src="images/hamburger_close.svg" hidden>
					</a>
					<div class="dropdown-menu hamberger-menu col-xs-11 col-sm-5 col-md-3">
						<ul class="col-xs-12 menu-items">
							<li class="col-xs-12"><a href="hl-apply-now.html" class="center-block" id="home-loan-menu">Home Loan</a></li>
							<li class="col-xs-12"><a href="apply-now.html" class="center-block" id="personal-loan-menu">Personal Loan</a></li>
							<li class="col-xs-12"><a href="cc-apply-now.html" class="center-block" id="credit-menu">Credit Card</a></li>
							<li class="col-xs-12"><a href="cl-apply-now.html" class="center-block" id="car-loan-menu">Car Loan</a></li>
							<li class="col-xs-12"><a href="my-applications-login.html" class="center-block" id="my-app-menu">My Applications</a></li>
						</ul>
						<div class="mask hamburgerIcon"></div>
					</div>
					<span>
					<a href="index.html" class="logo pull-left hidden-xs"><img class="logo-margin-left" src="images/icici_logo_img.png" alt="logo"></a>
					</span>
					<p class="pull-left"><span class="moduleName">Credit Cards</span></p>
				</div>
			</div>
		</div>
		<!--Header End-->
        
		<!--Main Content Start-->
		<div id="content" ui-view="main" data-spy="scroll" class="ng-scope" style="">
		
<!-- uiView:  --><div data-ui-view="" id="upload-documents-page" class="ng-scope">
    <div class="row">
        <div class="col-xs-12 info clearfix subheader-wrapper subheader-wrapper-info">
            <div class="header-container">
                <p class="pull-left">Upload your supporting documents for faster processing</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="check-eligibility-steps text-center">
            <div class="steps-inner-container">
                <div class="hidden-xs col-sm-3 text-center">
                    <p>Step 1 of 4</p>
                    <p>Check Eligibility</p>
                </div>
                <div class="hidden-xs col-sm-3 text-center">
                    <p>Step 2 of 4</p>
                    <p>Offer For You</p>
                </div>
                <div class="hidden-xs col-sm-3 text-center">
                    <p>Step 3 of 4</p>
                    <p>Complete Application</p>
                </div>
                <div class="col-xs-12 col-sm-3 text-center">
                    <p class="steps-count">Step 4 of 4</p>
                    <p class="heading">Upload Documents</p>
                </div>
            </div>
        </div>
    </div>
    <div class="steps clearfix">
        <div class="col-xs-3 text-center">
            <a href="javascript:void(0);"><span class="completed-step center-block check-eligibility"></span></a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="javascript:void(0);"><span class="completed-step center-block offer-for-you"></span></a>
        </div>
        <div class="col-xs-3 text-center">
            <a href="javascript:void(0);"><span class="completed-step center-block complete-application"></span></a>
        </div>
        <div class="col-xs-3 text-center">
            <a ui-sref="icicicredit-upload-documents" href="/asset-portal-redi/credit-card/upload-documents"><span class="current-step center-block upload-doc"></span></a>
        </div>
    </div>
    <div class="clearfix uploadProgress">
        <div class="progressCompleted pull-left progress ng-isolate-scope" max="100" value="vm.completedDocs.percent">
  <div class="progress-bar" ng-class="type &amp;&amp; 'progress-bar-' + type" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" ng-style="{width: (percent < 100 ? percent : 100) + '%'}" aria-valuetext="0%" aria-labelledby="progressbar" style="min-width: 0px; width: 0%;" ng-transclude=""></div>
</div>
        <span class="pull-right ng-binding">0%</span>
    </div>
    <div class="row step3-main-wrapper clearfix">
        <div class="col-md-4 documents-main-menu creditDocuments step3-leftNav">
            <div class="menu-area clearfix creditCardDocs">
                <div class="list-group">
                    <!-- ngRepeat: temp in vm.documents --><a class="list-group-item menu-mob ng-scope" href="javascript:void(0);" ng-class="{active: temp.isActive, 'status-completed': temp.completed}" ng-repeat="temp in vm.documents" ng-click="vm.setActive(temp)" style="">
                        <span class="menu-mob ng-binding">Photograph</span>
                        <!--  <img class="pull-right arrowb" style="margin-top:-40px" src="assets/images/uploaddocuments_normal.png" />
                        <img class="pull-right arroww" style="margin-top:-40px" src="assets/images/uploaddocuments_selected.png" />
                        <img ng-if="temp.completed" class="pull-right" style="margin-top:-40px" src="assets/images/tick.png" /> -->
                    </a><!-- end ngRepeat: temp in vm.documents --><a class="list-group-item menu-mob ng-scope" href="javascript:void(0);" ng-class="{active: temp.isActive, 'status-completed': temp.completed}" ng-repeat="temp in vm.documents" ng-click="vm.setActive(temp)" style="">
                        <span class="menu-mob ng-binding">Address Document</span>
                        <!--  <img class="pull-right arrowb" style="margin-top:-40px" src="assets/images/uploaddocuments_normal.png" />
                        <img class="pull-right arroww" style="margin-top:-40px" src="assets/images/uploaddocuments_selected.png" />
                        <img ng-if="temp.completed" class="pull-right" style="margin-top:-40px" src="assets/images/tick.png" /> -->
                    </a><!-- end ngRepeat: temp in vm.documents --><a class="list-group-item menu-mob ng-scope" href="javascript:void(0);" ng-class="{active: temp.isActive, 'status-completed': temp.completed}" ng-repeat="temp in vm.documents" ng-click="vm.setActive(temp)" style="">
                        <span class="menu-mob ng-binding">Identity Document</span>
                        <!--  <img class="pull-right arrowb" style="margin-top:-40px" src="assets/images/uploaddocuments_normal.png" />
                        <img class="pull-right arroww" style="margin-top:-40px" src="assets/images/uploaddocuments_selected.png" />
                        <img ng-if="temp.completed" class="pull-right" style="margin-top:-40px" src="assets/images/tick.png" /> -->
                    </a><!-- end ngRepeat: temp in vm.documents --><a class="list-group-item menu-mob ng-scope" href="javascript:void(0);" ng-class="{active: temp.isActive, 'status-completed': temp.completed}" ng-repeat="temp in vm.documents" ng-click="vm.setActive(temp)" style="">
                        <span class="menu-mob ng-binding">Application Form</span>
                        <!--  <img class="pull-right arrowb" style="margin-top:-40px" src="assets/images/uploaddocuments_normal.png" />
                        <img class="pull-right arroww" style="margin-top:-40px" src="assets/images/uploaddocuments_selected.png" />
                        <img ng-if="temp.completed" class="pull-right" style="margin-top:-40px" src="assets/images/tick.png" /> -->
                    </a><!-- end ngRepeat: temp in vm.documents --><a class="list-group-item menu-mob ng-scope active" href="javascript:void(0);" ng-class="{active: temp.isActive, 'status-completed': temp.completed}" ng-repeat="temp in vm.documents" ng-click="vm.setActive(temp)" style="">
                        <span class="menu-mob ng-binding">Income Document</span>
                        <!--  <img class="pull-right arrowb" style="margin-top:-40px" src="assets/images/uploaddocuments_normal.png" />
                        <img class="pull-right arroww" style="margin-top:-40px" src="assets/images/uploaddocuments_selected.png" />
                        <img ng-if="temp.completed" class="pull-right" style="margin-top:-40px" src="assets/images/tick.png" /> -->
                    </a><!-- end ngRepeat: temp in vm.documents -->
                </div>
            </div>
        </div>
        <div class="col-md-8 step3-rightNav">
            <div class="content-area">
                <!-- ngRepeat: template in vm.documents --><div ng-repeat="template in vm.documents" class="ng-scope">
                    <!-- ngIf: template.isActive -->
                </div><!-- end ngRepeat: template in vm.documents --><div ng-repeat="template in vm.documents" class="ng-scope">
                    <!-- ngIf: template.isActive -->
                </div><!-- end ngRepeat: template in vm.documents --><div ng-repeat="template in vm.documents" class="ng-scope">
                    <!-- ngIf: template.isActive -->
                </div><!-- end ngRepeat: template in vm.documents --><div ng-repeat="template in vm.documents" class="ng-scope">
                    <!-- ngIf: template.isActive -->
                </div><!-- end ngRepeat: template in vm.documents --><div ng-repeat="template in vm.documents" class="ng-scope">
                    <!-- ngIf: template.isActive --><div data-template="template" ng-if="template.isActive" class="ng-isolate-scope" style="">
    <div id="address-document-page" class="individual-doc-page" style="min-height: inherit;">
        <div class="container-fluid">
            <div class="row menu subheader-wrapper hidden-md hidden-lg">
                <a href="javascript:void(0);" ng-click="back()" class="back-btn pull-left menu-mob"></a>
                <a ui-sref="apply-now" class="logo pull-left hidden-xs"><img class="logo-margin-left" src="assets/images/icici_logo_img.png" alt="logo"></a>
                <a ng-click="displayMobileMenu()" class="visible-xs-inline-block visible-sm-inline-block posr">
                    <span class="brl"></span>
                    <p class="pull-left ng-binding">Income Document</p>
                    <span class="glyphicon glyphicon-chevron-down menu-mob"></span>
                </a>
            </div>
            <div class="row visible-xs visible-sm">
                <div class="col-xs-12 info clearfix subheader-wrapper">
                    <p class="pull-left">Upload your supporting documents for faster processing</p>
                </div>
            </div>
            <div class="mainbox clearfix docsDiv bgequilizer" style="min-height: 310px;">
                <p class="help-msg-documents">Upload any one of the following documents</p>
                <div class="panel-group doc-acc list-group documents-list f1" ng-class="!completedApplicationFlow?'f1':'f2'" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel-group">
                        <!-- ngRepeat: subdocument in template.subdocuments track by $index --><div class="list-group-item clearfix panel panel-default panel panel-default ng-scope" ng-repeat="subdocument in template.subdocuments track by $index">
                            <div ng-controller="subDocumentCtrl" class="ng-scope">
                                <div class="panel-heading" ng-click="isPanelOpen($index)">
                                    <div data-subdocument="subdocument" data-files="files" class="ng-isolate-scope">
    <div ng-click="getUploadedDocs($index)" class="block popoverElement doc-name subdocName panel-title">
        <a role="button" href="javascript:void(0)" class="ng-binding">
            Salary Slip of 1 month
            <span ng-show="subdocument.id != null" href="javascript:void(0)" class="popoverChange-other popoverClick ng-hide" popover-template="dynamicPopover.templateUrl" popover-trigger="focus mouseenter" popover-title="" popover-placement="bottom" tabindex="0" style="display: inline-block;">
                <img class="questionmark" ng-src="assets/images/Question.png" alt="tooltip" src="assets/images/Question.png">
            </span>
        </a>
    </div>
    <div class="acc-athmt">
        <a href="javascript:void(0)" ngf-select="" ngf-change="uploadDoc($event, files)" ng-model="files" class="pull-right attachment ng-pristine ng-untouched ng-valid" accept="image/*" capture="camera"><img src="assets/images/camera.png" alt="camera" class="cameraIcon visible-xs visible-sm"></a>
        <a href="javascript:void(0)" ngf-select="" ngf-change="uploadDoc($event, files)" ng-model="files" class="pull-right attachment ng-pristine ng-untouched ng-valid"><img src="assets/images/attachment.png" alt="attachment"><span class="hidden-xs hidden-sm colorBlue">Attach file</span></a>
    </div>
</div>
                                </div>
                                <div class="panel-collapse collapse" uib-collapse="!template.subdocuments[$index].isopen" ng-init="checkFileLength($index)" style="height: 0px;" aria-expanded="false" aria-hidden="true">
                                    <div class="panel-body">
                                        <div equi-height="">
    <div class="individual-statement-doc clearfix">
        <div class="individual-statement-progress clearfix">
            <!-- ngRepeat: file in subdocument.filesUploaded -->
            <div class="row clearfix">
                <!-- ngIf: subdocument.progress -->
                <a class="pull-right cancelMark ng-hide" data-parent="Salary Slip of 1 month" ng-show="subdocument.progress.isUpload" ng-click="deleteUploadingFile($event,file.name,file.$$hashKey,$parent.$index)"><strong class="pull-right">X</strong></a>
            </div>
        </div>
    </div>
    <!-- ngIf: files.error -->
</div>
                                    </div>
                                </div>
                            </div>
                        </div><!-- end ngRepeat: subdocument in template.subdocuments track by $index -->
                    </div>
                </div>
                <div class="document-btns clearfix" ng-init="init()">
                    <!-- ngIf: hasPrev --><button ng-click="prevUpload()" ng-if="hasPrev" class="col-xs-3 col-sm-2 col-md-2 ng-scope" type="button"><i class="fa fa-chevron-left"></i> Back</button><!-- end ngIf: hasPrev -->
                    <!-- ngIf: hasNext -->
                    <!-- ngIf: !hasNext --><button ng-click="mobileNext()" ng-if="!hasNext" class="pull-right mobileNext col-xs-3 col-sm-2 col-md-2 ng-scope" type="button">Next <i class="fa fa-chevron-right"></i></button><!-- end ngIf: !hasNext -->
                </div>
            </div>
        </div>
    </div>
    <div id="footer" class="hidden-md hidden-lg">
        <p class="text-center">
            <span id="footer-text">Credit Card issuance is at the sole discretion of ICICI Bank Ltd.</span>
            <span id="footer-links"><a target="_blank" href="partials/disclaimer.html">Disclaimer </a><span>| </span>
            <a target="_blank" href="http://www.icicibank.com/terms-condition/credit-card-terms-and-conditions.html">Terms &amp; conditions</a>
        </span></p>
    </div>
</div><!-- end ngIf: template.isActive -->
                </div><!-- end ngRepeat: template in vm.documents -->
            </div>
        </div>
        <!-- ngIf: displayMenuItems -->
    </div>
    <div class="step3-main-wrapper subBtn clearfix ">
        <div class="col-md-3"></div>
        <div class="col-xs-12 col-md-7 submitMargin mobileupload">
            <div class="container-fluid">
                <div class="mainbox clearfix text-center padding2em">
                    <button class="btn blue upload-submit-btn" ng-click="vm.submitUploadDocs()">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="myPopoverTemplate.html">
        <div class="row">
            <div class="col-xs-12" ng-if="subdocument.id == 'voterid' || subdocument.id == 'passport' || subdocument.id == 'pancard' || subdocument.id == 'driverlicense' || subdocument.id == 'aadharcard'">
                <a href="#" class="thumbnail {{subdocument.id}}"></a>
            </div>
            <div class="col-xs-12"><strong>{{subdocument.content[0].title}}</strong></div>
            <div class="col-xs-12" ng-if="subdocument.id != 'passport' && subdocument.id != 'utilitybill' && subdocument.id != 'driverlicense'">{{uploadtooltips[subdocument.id]}}</div>
            <ul class="col-xs-12" ng-if="subdocument.id == 'passport' || subdocument.id == 'utilitybill' || subdocument.id == 'driverlicense'">
                <li ng-repeat="textVal in uploadtooltips[subdocument.id]">{{textVal}}</li>
            </ul>
        </div>
    </script>
</div>
</div>
<!--Main Content End-->
		
		<!--Footer Start-->
		<div id="footer" class="row">
			<div class="container-fluid">
			   <p class="text-center">
				  <span id="footer-text">Credit Card issuance is at the sole discretion of ICICI Bank Ltd.</span>
				  <span id="footer-links"><a target="_blank" href="credit-card-disclaimer.html">Disclaimer</a> <span>|</span>
				  <a target="_blank" href="https://www.icicibank.com/terms-condition/credit-card-terms-and-conditions.html?_ga=2.108609538.1623193432.1543830609-788978781.1542863146">Terms & conditions</a>
				  </span>
			   </p>
			</div>
		</div>
		<!--Footer End-->
	</div>
	
	<script type="text/javascript" src="js/icici.vendor.min.js"></script>
	<script type="text/javascript" src="js/icici.min.js"></script>
	<script type="text/javascript" src="js/icici.templates.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function($) {
	  $('.tab_content').hide();
	  $('.tab_content:first').show();
	  $('.tabs li:first').addClass('active');
	  $('.tabs li').click(function(event) {
		$('.tabs li').removeClass('active');
		$(this).addClass('active');
		$('.tab_content').hide();

		var selectTab = $(this).find('a').attr("href");

		$(selectTab).fadeIn();
	  });
	});
	$(".calender-box .custom-date-holder span input[type = 'text']").mask("99/99/9999", { placeholder: 'dd/mm/yyyy' });
	</script>
</body>
</html>