<!DOCTYPE html>
<html lang="en">
	<head>
		<title>ICICI Bank</title>
		<meta http-equiv="X-Frame-Options" content="deny">
		<meta name="description" content="ICICI" />
		<meta name="keywords" content="ICICI" />
		<meta http-equiv="X-UA-Compatible" content="IE=11" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no,minimal-ui" />
		<meta charset="UTF-8" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet">
		<link rel="shortcut icon" href="personalloans/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/icici.min.css">
		<script type="text/javascript" src="js/jquery.min.js"></script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
	</head>
	<body class="plPQ1kyc">
		<div class="container-fluid">
			<!--Header Start-->
			<div class="row">
				<div class="col-xs-12 menu subheader-wrapper">
					<div class="header-container">
						<a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
							<img class="pull-left hamburgerImage" src="images/hamburger_2px.svg" alt="menu">
							<img class="pull-left hamburgerImage" src="images/hamburger_close.svg" hidden>
						</a>
						<div class="dropdown-menu hamberger-menu col-xs-11 col-sm-5 col-md-3">
							<ul class="col-xs-12 menu-items">
								<li class="col-xs-12"><a href="hl-apply-now.html" class="center-block" id="home-loan-menu">Home Loan</a></li>
								<li class="col-xs-12"><a href="apply-now.html" class="center-block" id="personal-loan-menu">Personal Loan</a></li>
								<li class="col-xs-12"><a href="cc-apply-now.html" class="center-block" id="credit-menu">Credit Card</a></li>
								<li class="col-xs-12"><a href="cl-apply-now.html" class="center-block" id="car-loan-menu">Car Loan</a></li>
								<li class="col-xs-12"><a href="my-applications-login.html" class="center-block" id="my-app-menu">My Applications</a></li>
							</ul>
							<div class="mask hamburgerIcon"></div>
						</div>
						<span>
							<a href="index.html" class="logo pull-left hidden-xs"><img class="logo-margin-left" src="images/icici_logo_img.png" alt="logo"></a>
						</span>
						<p class="pull-left"><span class="moduleName">Loans</span></p>
					</div>
				</div>
			</div>
			<!--Header End-->
			<!--Main Content Start-->
			<div id="content">
				<div class="plpq-main-section final-pl-tma">
					<div class="row fixed-wrapper">
						<div class="instaOuterContainer clearfix">
							<div class="col-md-12 padding15">
								<p class="note margin0 notetext">
									<strong>Your Personal Loan Details:</strong>
								</p>
								<ul class="col-md-12 colored-val list-inline-with-separator">
									<li>
										<label class="text-bold">Final facility amount:</label>
										<span class="ng-binding"><i class="fa fa-inr"></i> 900,000</span>
									</li>
									<li>
										<label class="text-bold">Loan Tenure:</label>
										<span class="ng-binding">5 Years</span>
									</li>
									<li>
										<label class="text-bold">Interest Rate:</label>
										<span class="ng-binding">15.0%</span>
									</li>
									<li>
										<label class="text-bold">EMI:</label>
										<span class="ng-binding"><i class="fa fa-inr"></i> 21,359</span>
									</li>
									<li>
										<label class="text-bold">Fees:</label>
										<span class="ng-binding"><i class="fa fa-inr"></i> 4,719</span>
									</li>
									<li>
										<label><a target="_blank" href="#LoanDetailsModal" data-toggle="modal">Loan Details</a></label>
									</li>
								</ul>
							</div>
							<div class="col-sm-12 sectionSeparator">
								<div class="relative overflow-hidden">
									<div class="hidden-xs col-md-6 col-sm-6 col-xs-12 marginTop15 paddingRight-TD40-M15">
										<p>Please accept the offer by authenticating using anyone of the following options and click on Submit Application to proceed.</p>
										<div class="grid-layout marginTop20">
											<div class="col-md-6 col-sm-6 grid-col">
												<a href="#NetBankingModal" data-toggle="modal">
													<img height="30" width="36" src="images/netbanking2px.svg">
													<p>Net Banking</p>
												</a>
											</div>
											<div class="col-md-6 col-sm-6 grid-col">
												<a href="#CreditCardModal" data-toggle="modal">
													<img height="30" width="36" src="images/CreditCard.svg">
													<p>Credit Card</p>
												</a>
											</div>
										</div>
										<div class="grid-layout grid-last-child">
											<div class="col-md-6 col-sm-6 grid-col">
												<a href="#DebitCardModal" data-toggle="modal">
													<img height="30" width="36" src="images/DebitCard.svg">
													<p>Debit Card</p>
												</a>
											</div>
											<div class="col-md-6 col-sm-6 grid-col">
												<a href="#LoanAccountModal" data-toggle="modal">
													<img height="30" width="36" src="images/LoanAccountNo.svg">
													<p>Loan Account No.</p>
												</a>
											</div>
										</div>
										<p class="plpq-auth-success">Authentication Successful</p>
									</div>
									<div class="visible-xs">
										<p style="margin-bottom:5px;">Please accept the offer by authenticating using anyone of the following options and click on Submit Application to proceed.</p>
										<div class="llogin-type">
										<a href="javascript:;"><img height="30" width="36" src="images/netbanking2px.svg"><span>Net Banking</span></a></div>
										<div class="llogin-type"><a href="javascript:;"><img height="30" width="36" src="images/CreditCard.svg"><span>Credit Card</span></a></div>
										<div class="llogin-type"><a href="javascript:;"><img height="30" width="36" src="images/DebitCard.svg"><span>Debit Card</span></a></div>
										<div class="llogin-type"><a href="javascript:;"><img height="30" width="36" src="images/LoanAccountNo.svg"><span>Loan Account No.</span></a></div>
									</div>
									<div align="center" class="abs-center applicationOrDiv">
										<strong>Or</strong>
									</div>
									<div class="col-md-6 col-sm-6 col-xs-12 marginTop15 paddingLeft-TD40-M15">
										<p>Please download the agreement documents and proceed by uploading the signed and scanned documents individually.</p>
										<div>
											<a href="#">
												<div class="FL marginTop5 zipDiv" style="height: 50px;margin-right: 10px;"><img height="30" width="36" src="images/sp_zip_icon.png"></div>
												<span class="zipfiles inline-block">Agreement Documents</span>
												<span class="otp-loanAppId zip-margin font11 block">(Contains agreement documents)</span>
												<span class="small-maroon-txt">Please read the agreement copies to proceed further.</span>
											</a>
											<div class="bordered-table-view marginTop20">
												<div class="flex">
													<div class="col">Application Form</div>
													<div class="col">
														<div class="upload-common">
															<a href="javascript:void(0)" class="attachment"><img src="images/attachment.png" alt="attachment"><span>Attach file</span></a>
														</div>
													</div>
												</div>
												<div class="flex">
													<div class="col">Credit Facility Application Form</div>
													<div class="col">
														<div class="upload-common">
															<a href="javascript:void(0)" class="attachment"><img src="images/attachment.png" alt="attachment"><span>Attach file</span></a>
														</div>
													</div>
												</div>
												<div class="flex">
													<div class="col">Auto Debit Mandate</div>
													<div class="col">
														<div class="upload-common">
															<a href="javascript:void(0)" class="attachment"><img src="images/attachment.png" alt="attachment"><span>Attach file</span></a>
														</div>
													</div>
												</div>
												<div class="flex">
													<div class="col">Most Important Information</div>
													<div class="col">
														<div class="upload-common">
															<a href="javascript:void(0)" class="attachment"><img src="images/attachment.png" alt="attachment"><span>Attach file</span></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-12 sectionSeparator delete-padding">
								<div class="col-xs-12 clearfix termsStep1 text-center">
									<div class="step checkbox_wrapper customized-consent-wrap">
										<input type="checkbox" required="required">
										<label></label>
										<span class="col-xs-12 col-md-12 termsStep1Span">I've read the <a href="#">agreement documents</a> and I agree to the declarations and terms and conditions.</span>
									</div>
									
								</div>
								<div class="eligibilityBtn">
									<div class="col-md-12">
										<button class="btn blue marginTop15" type="button" disabled="disabled">Submit Application</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			
			<!--Modal-->
			<!--Net Banking-->
			<div class="modal fade in" id="NetBankingModal">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="consentpopup">
							<div class="modal-header">
								<a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-img marginTop5 pull-right"></a>
								<h3 class="modal-title ng-binding">Net Banking</h3>
							</div>
							<div class="modal-body">
								<div class="form-group radio-btn disburse-login">
									<form name="loginForm" novalidate="" id="loginForm" class="ng-pristine ng-invalid ng-invalid-required ng-valid-pattern ng-valid-maxlength ng-valid-minlength" style="">
										<div>
											<div>
												<div class="netBankingFields">
													<div class="col-sm-12 clear">
														<span class="input input--hoshi">
															<input name="relationShipNo" type="text" class="input__field input__field--hoshi col-xs-12 col-md-6" id="userid-net" required="required">
															<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="userid-net">
																<span class="input__label-content input__label-content--hoshi">User Id</span>
															</label>
														</span>
													</div>
													<div class="col-sm-12 clear">
														<span class="input input--hoshi">
															<input name="pinOrPassword" type="password" class="input__field input__field--hoshi col-xs-12 col-md-6" id="userid-net" required="required">
															<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="userid-net">
																<span class="input__label-content input__label-content--hoshi">Password</span>
															</label>
														</span>
													</div>
												</div>
												<div class="col-xs-12 cancel-proceed clearfix text-center">
													<button class="btn blue" type="submit" disabled="disabled">Submit</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--Credit Card-->
			<div class="modal fade in" id="CreditCardModal">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="consentpopup">
							<div class="modal-header">
								<a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-img marginTop5 pull-right"></a>
								<h3 class="modal-title">Credit Card</h3>
							</div>
							<div class="modal-body">
								<div class="form-group radio-btn disburse-login">
									<form name="loginForm" id="loginForm">
										<div>
											<div>
												<div class="creditCardInput" id="1549541059133">
													<label class="loanAccDir">ICICI Bank Credit Card Number</label>
													<div class="creditInput">
														<input type="tel" pattern="[0-9]*" maxlength="4" name="pin1" required="required">
														<input type="tel" pattern="[0-9]*" maxlength="4" name="pin2"  required="required">
														<input type="tel" pattern="[0-9]*" maxlength="4" name="pin3" required="required">
														<input type="tel" class="lastPin" pattern="[0-9]*" maxlength="" name="pin4" required="required">
													</div>
													<div class="errorMessages"></div>
												</div>
												<div class="marginTop20 CreditCardPinInput" data-form="loginForm">
													<label><span>Enter your card PIN</span></label>
													<div class="creditPinInput">
														<input type="password" pattern="[0-9]*" name="creditPin1" required="required">
														<input type="password" pattern="[0-9]*" name="creditPin2" required="required">
														<input type="password" pattern="[0-9]*" name="creditPin3" required="required">
														<input type="password" pattern="[0-9]*" name="creditPin4" required="required">
													</div>
												</div>
												<div class="col-xs-12 cancel-proceed clearfix text-center">
													<button class="btn blue" type="submit" ng-click="vm.login('C')" ng-disabled="loginForm.$invalid" disabled="disabled">Submit</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--Debit Card-->
			<div class="modal fade in" id="DebitCardModal">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="consentpopup">
							<div class="modal-header">
								<a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-img marginTop5 pull-right"></a>
								<h3 class="modal-title">Debit Card</h3>
							</div>
							<div class="modal-body">
								<div class="form-group radio-btn disburse-login">
									<form name="loginForm" id="loginForm">
										<div class="debitCardInput" data-need="true" data-model="vm.user.accountNumber" data-form="loginForm" data-is-if="true">
											<label class="">ICICI Bank ATM/ Debit Card Number</label>
											<div class="debitInput" ng-if="vm.isIf">
												<input type="tel" pattern="[0-9]*" autotab="" maxlength="4" name="debitNum1" required="required">
												<input type="tel" pattern="[0-9]*" autotab="" maxlength="4" name="debitNum2" required="required">
												<input type="tel" pattern="[0-9]*" autotab="" maxlength="4" name="debitNum3" required="required">
												<input type="tel" pattern="[0-9]*" autotab="" maxlength="4" name="debitNum4" required="required">
											</div>
											<div class="errorMessages"></div>
										</div>
										<div class="marginTop20 CreditCardPinInput" data-model="vm.user.pinOrPassword" data-form="loginForm">
											<label>
												<span>Enter your card PIN</span>
											</label>
											<div class="creditPinInput">
												<input type="password" pattern="[0-9]*" autotab="" maxlength="1" name="creditPin1" required="required">
												<input type="password" pattern="[0-9]*" autotab="" maxlength="1" name="creditPin2" required="required">
												<input type="password" pattern="[0-9]*" autotab="" maxlength="1" name="creditPin3" required="required">
												<input type="password" pattern="[0-9]*" autotab="" maxlength="1" name="creditPin4" required="required">
											</div>
										</div>
										<div class="col-xs-12 cancel-proceed clearfix text-center">
											<button class="btn blue" type="submit" disabled="disabled">Submit</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--Loan Account-->
			<div class="modal fade in" id="LoanAccountModal">
				<div class="modal-dialog modal-sm">
					<div class="modal-content">
						<div class="consentpopup">
							<div class="modal-header">
								<a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-img marginTop5 pull-right"></a>
								<h3 class="modal-title">Loan Account</h3>
							</div>
							<div class="modal-body">
								<div class="form-group radio-btn disburse-login">
									<form name="loginForm" novalidate="" id="loginForm">
										<div>
											<div>
												<div class="loanAccountFields">
													<div class="debitCardInput netbanking">
														<label class="loanAccDir" for="1549541203092">
															<span>Loan Account Number</span>
														</label>
														<div class="debitInput">
															<input type="text" id="1549541203092" name="1549541203092" maxlength="16" required="required">
														</div>
														<p class="any-two clear">Please provide <span>any two</span> details from the following</p>
														<div class="errorMessages"></div>
													</div>
													<div class="form-details row clearfix">
														<div class="col-xs-12 col-sm-6 calender-box clearfix">
															<div class="custom-date-holder">
																<span class="input input--hoshi">
																	<div>
																		<input type="text" name="1549541203098" class="input__field input__field--hoshi date-input desktop-datepicker dobnotchanged" id="1549541203098">
																	</div>
																	<div class="ng-hide">
																		<input type="text" name="15495412030981" class="input__field input__field--hoshi date-input date-pick" id="15495412030981">
																	</div>
																	
																	<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="1549541203098">
																		<span class="input__label-content input__label-content--hoshi pull-left" id="1549541203098-content">
																			Date of Birth (DD/MM/YYYY)
																			<a href="javascript:;" class="edit" hidden><img alt="Edit" src="images/edit_ico.svg"></a>
																		</span>
																	</label>
																	<label class="input__label input__label--hoshi input__label--hoshi-color-1" hidden for="15495412030981">
																		<span class="input__label-content input__label-content--hoshi pull-left" id="15495412030981-content">
																			Date of Birth (DD/MM/YYYY)
																			<a href="javascript:;" class="edit"><img alt="Edit" src="images/edit_ico.svg"></a>
																		</span>
																	</label>
																	<span id="city-map-icon" class="input__label-content pull-right"><img height="20px" src="images/calendar.svg"></span>
																</span>
																<span class="input-group-btn input__label-content pull-right clearfix cal-icon"></span>
															</div>
														</div>
														<div class="col-xs-12 col-sm-6 col-md-6">
															<span class="input input--hoshi">
																<input name="1549541203115" class="input__field input__field--hoshi uppercase" type="text" id="1549541203115" maxlength="12">
																<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="1549541203115">
																	<span class="input__label-content input__label-content--hoshi">Account Number<span class="optional-text-style">(Optional)</span></span>
																</label>
															</span>
															<div class="errClass"> </div>
														</div>
														<div class="col-xs-12 col-sm-6">
															<span class="input input--hoshi tooltip-text">
																<input name="1549541203117" class="input__field input__field--hoshi" type="tel" id="1549541203117" maxlength="13" pattern="[0-9]*">
																<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="1549541203117">
																	<span class="input__label-content input__label-content--hoshi">Loan Amount (<i class="fa fa-inr"></i>)</span>
																</label>
															</span>
														</div>
														<div class="col-xs-12 col-sm-6">
															<span class="input input--hoshi tooltip-text">
																<input name="1549541203122" class="input__field input__field--hoshi" type="tel" id="1549541203122">
																<label class="input__label input__label--hoshi input__label--hoshi-color-1" for="1549541203122">
																	<span class="input__label-content input__label-content--hoshi">EMI Amount (<i class="fa fa-inr"></i>)</span>
																</label>
															</span>
														</div>
													</div>
												</div>
												<div class="col-xs-12 cancel-proceed clearfix text-center">
													<button class="btn blue" type="submit" disabled="disabled">Submit</button>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<!--Loan Details-->
			<div class="modal fade in" id="LoanDetailsModal">
				<div class="modal-dialog modal-custom-1024">
					<div class="modal-content">
						<div id="plPqLoanDetails">
							<div class="clearfix" id="modal-body">
								<div class="modal-header clearfix">
									<div id="header" class="popup-header clearfix">
										<h4>Loan Details<a href="javascript:void(0);" data-dismiss="modal" aria-label="Close" class="close-img pull-right"></a></h4>
									</div>
								</div>
								<div id="modalBody" class="modal-body clearfix" style="overflow: auto; height: 467px;">
									<div class="clearfix loandetails mobileSections">
										<div class="col-xs-12 application-info disberseHeading no-pad">
											<p><strong>Your personal loan details are given below:</strong></p>
											<p class="marTop10"> <strong>Facility in the nature of: </strong>
											</p><p>Rupee loan</p>
											<p></p>
										</div>
										<div class="col-xs-12 application-info no-pad">
											<p><strong>Final Facility Amount :</strong>
											</p><p>Not exceeding <strong class="redText disberseFont"><i class="fa fa-inr"> </i> <span id="loanAmount">900,000</span></strong> in words <span id="loanAmountInWords">Nine Lakh  Rupees </span></p>
											<p></p>
										</div>
										<div class="col-xs-12 application-info no-pad">
											<p><strong>Rate of Interest:</strong>
											</p><p><strong class="redText disberseFont"><span id="rate">15.0</span>%</strong> per annum in Words <span id="rateInWords">FIFTEEN POINT  ZERO </span> payable on the date(s) specified in Section below in relation to repayment of the facility.</p>
											<p></p>
										</div>
										<div class="col-xs-12 application-info no-pad">
											<p><strong>Tenure:</strong>
											</p><p><strong class="redText disberseFont"><span id="tenure">60</span></strong> months.</p>
											<p></p>
										</div>
										<div class="col-xs-12 application-info no-pad">
											<p><strong>Non refundable Processing Fee:</strong>
											</p><p>Not exceeding <strong class="redText disberseFont"><i class="fa fa-inr"></i> <span id="processingFee">4,719</span></strong> In words <span id="processingFeeWord">Four Thousand Seven Hundred And Nineteen Rupees </span>. (plus applicable Interest Tax or other statutory levies, if any).</p>
											<p></p>
										</div>
										<div class="col-xs-12 application-info no-pad no-border">
											<p><strong>Note:</strong>
											</p><p>The processing fee is one time non refundable fee and is collected by ICICI Bank for the purpose of appraising the application for the facility and the same independent of the outcomes, result of such appraises.</p>
											<p>We wish to bring to your notice that this top-up loan is linked to your existing car loan and No Dues Certificate / No Objection Certificate would be issued to you only upon closure of both the loans</p>
											<p></p>
										</div>
									</div>
									<hr>
									<div class="clearfix loandetails emiInfo">
										<div class="col-xs-12 application-info emiblock no-pad no-border">
											<span class="loanNum">
												<span class="loanspan"><strong>EMI:</strong></span>
												<span class="loanspan redText disberseFont"><i class="fa fa-inr"></i> <span id="emi">21,359</span> </span>
											</span>
											<span class="loanNum" style="">
												<span class="loanspan"><strong>Start Date: </strong></span>
												<span class="loanspan redText disberseFont"><span id="startDate">01/03/2019</span></span>
											</span>
											<span class="loanNum">
												<span class="loanspan"><strong>End Date: </strong></span>
												<span class="loanspan redText disberseFont"><span id="emiEnddt">01/02/2024</span></span>
											</span>
											<span class="loanNum">
												<span class="loanspan"><strong>Facility is to be disbursed to:</strong></span>
												<span class="loanspan"><strong> Name:</strong> <span class="redText disberseFont"><span id="name">Mr. Hemant Sonar</span> </span></span>
												<span class="hidden-xs">|</span>
												<span class="loanspan"><strong>Amount: </strong><span class="redText disberseFont"><i class="fa fa-inr"></i> <span id="disbrseAmt">894,431.58</span></span></span>
											</span>
											<span class="loanNum disberse-mode">
												<span class="loanspan"><strong>Disbursement Mode:</strong></span>
												<span class="redText disberseFont">Direct Credit to ICICI Bank a/c no - <span><span id="accountNo">628801537637</span></span></span>
											</span>
										</div>
									</div>
								</div>
								
								<div class="center-btm-btn col-sm-12 clearfix">
									<button class="btn blue" type="button">OK</button>
								</div>
							</div>
						</div>
						
						<script type="text/javascript">
							var windowHt = window.innerHeight;
							angular.element('#modalBody').height(windowHt - 220);
						</script>
					</div>
				</div>
			</div>
			
			
			<!--Main Content End-->
			
			<!--Footer Start-->
			<div id="footer" class="row">
				<div class="container-fluid">
					<p class="text-center">
						<span id="footer-text">Loans are the sole discretion of ICICI Bank Ltd.</span>
						<span id="footer-links">
							<a target="_blank" href="personal-loan-disclaimer.html">Disclaimer </a> <span>|</span>
							<a target="_blank" href="pdfs/PL_TnC.pdf">Terms &amp; Conditions </a> <span>|</span>
							<a target="_blank" href="pdfs/PL_TnC1.pdf">Personal Loan Terms &amp; Conditions </a>
						</span>
					</p>
				</div>
			</div>
			<!--Footer End-->
		</div>
	</body>
	<script type="text/javascript" src="js/jquery-ui.min-1.11.3.js"></script>
</html>